@model SwitchBook.ViewModels.MyOrdersViewModel
@{
    ViewData["Title"] = "Пропозиції обміну";
}

<h1>Пропозиції обміну</h1>

@if (Model.Requests != null && Model.Requests.Books1.Count > 0)
{
    <div class="trade_offers">
        <h3>Отримані пропозиції</h3>
        <div class="trade_offers_overflow">
            @for (int i = 0; i < Model.Requests.Books1.Count; i++)
            {
                <div class="trade_offers_offer">
                    <div class="trade_offers_text">
                        <div class="avaliable_book">
                            @if (@Model.Requests.Books1[i].Image != null)
                            {
                                <img class="avaliable_book_image" src="data:image/jpeg;base64,@(Convert.ToBase64String(@Model.Requests.Books1[i].Image))"/>
                            }
                            else
                            {
                                <div class="avaliable_book_image"></div>
                            }
                            <div>
                                <h4>@Model.Requests.Books1[i].Title</h4>
                                <hr/>
                                <h5>@Model.Requests.Books1[i].Author</h5>
                                <h6>Віддаєте</h6>
                            </div>
                        
                        </div>
                        <div>
                            <div class="avaliable_book">
                                @if (@Model.Requests.Books2[i].Image != null)
                                {
                                    <img class="avaliable_book_image" src="data:image/jpeg;base64,@(Convert.ToBase64String(@Model.Requests.Books2[i].Image))"/>
                                }
                                else
                                {
                                    <div class="avaliable_book_image"></div>
                                }
                                <div>
                                    <h4>@Model.Requests.Books2[i].Title</h4>
                                    <hr/>
                                    <h5>@Model.Requests.Books2[i].Author</h5>
                                    <h6>Отримуєте</h6>
                                </div>
                            </div>
                            <div class="details">

                            </div>
                        </div>
                    
                    </div>
                
                    <div class="trade_offers_action">
                        <form asp-action="ConfirmRequest">
                            <input type="hidden" name="OrderId" value="@Model.Requests.Orders[i].Id"/>
                            <input type="submit" value="Прийняти" class="btn btn_book"/>
                        </form>
                        <a href="/MyOrders/OrderDetails?OrderId=@Model.Requests.Orders[i].Id" class="btn btn_book">Деталі</a>
                        <form asp-action="DeleteRequest">
                            <input type="hidden" name="OrderId" value="@Model.Requests.Orders[i].Id"/>
                            <input type="submit" value="Відхилити" class="btn btn_book"/>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
}


@if (Model.MyRequests != null && Model.MyRequests.Books1.Count > 0)
{
    <div class="trade_offers">
        <h3>Відправлені пропозиції обміну</h3>
        <div class="trade_offers_overflow">
            @for (int i = 0; i < Model.MyRequests.Books1.Count; i++)
            {
                <div class="trade_offers_offer">
                    <div class="trade_offers_text">
                        <div class="avaliable_book">
                            @if (@Model.MyRequests.Books1[i].Image != null)
                            {
                                <img class="avaliable_book_image" src="data:image/jpeg;base64,@(Convert.ToBase64String(@Model.MyRequests.Books1[i].Image))"/>
                            }
                            else
                            {
                                <div class="avaliable_book_image"></div>
                            }
                            <div>
                                <h4>@Model.MyRequests.Books1[i].Title</h4>
                                <hr/>
                                <h5>@Model.MyRequests.Books1[i].Author</h5>
                                <h6>Отримуєте</h6>
                            </div>
                        </div>
                    
                        <div class="avaliable_book">
                            @if (@Model.MyRequests.Books2[i].Image != null)
                            {
                                <img class="avaliable_book_image" src="data:image/jpeg;base64,@(Convert.ToBase64String(@Model.MyRequests.Books2[i].Image))"/>
                            }
                            else
                            {
                                <div class="avaliable_book_image"></div>
                            }
                            <div>
                                <h4>@Model.MyRequests.Books2[i].Title</h4>
                                <hr/>
                                <h5>@Model.MyRequests.Books2[i].Author</h5>
                                <h6>Віддаєте</h6>
                            </div>
                        </div>
                    </div>
                
                    <div class="trade_offers_action">
                        <a href="/MyOrders/OrderDetails?OrderId=@Model.MyRequests.Orders[i].Id" class="btn btn_book">Деталі</a>
                        <form asp-action="DeleteRequest">
                            <input type="hidden" name="OrderId" value="@Model.MyRequests.Orders[i].Id"/>
                            <input type="submit" value="Відкликати" class="btn btn_book"/>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
}

@if (Model.History != null && Model.History.Books1.Count > 0)
{
    <div class="trade_offers">
        <h3>Історія</h3>
        <div class="trade_offers_overflow">

        @for (int i = 0; i < Model.History.Books1.Count; i++)
        {
            <div class="trade_offers_offer">
                <div class="trade_offers_text">
                    <div class="avaliable_book">
                        @if (@Model.History.Books1[i].Image != null)
                        {
                            <img class="avaliable_book_image" src="data:image/jpeg;base64,@(Convert.ToBase64String(@Model.History.Books1[i].Image))"/>
                        }
                        else
                        {
                            <div class="avaliable_book_image"></div>
                        }
                        <div>
                            <h4>@Model.History.Books1[i].Title</h4>
                            <hr/>
                            <h5>@Model.History.Books1[i].Author</h5>
                            <h6>Отримуєте</h6>
                        </div>
                    
                    </div>
                
                    <div class="avaliable_book">
                        @if (@Model.History.Books2[i].Image != null)
                        {
                            <img class="avaliable_book_image" src="data:image/jpeg;base64,@(Convert.ToBase64String(@Model.History.Books2[i].Image))"/>
                        }
                        else
                        {
                            <div class="avaliable_book_image"></div>
                        }
                        <div>
                            <h4>@Model.History.Books2[i].Title</h4>
                            <hr/>
                            <h5>@Model.History.Books2[i].Author</h5>
                            <h6>Віддаєте</h6>
                        </div>
                    </div>
                </div>
            </div>

        }
        </div>
    </div>
}
