@{
    ViewData["Title"] = "Trade";
}
<div>
    <p>@ViewBag.Book1.Title</p>
    <p>@ViewBag.Book1.Author</p>
    <p>@ViewBag.Book1.Description</p>
    <p>@ViewBag.Address1.City</p>
    <p>@ViewBag.Address1.PhoneNumber</p>



</div>
<div>
    <p>@ViewBag.Book2.Title</p>
    <p>@ViewBag.Book2.Author</p>
    <p>@ViewBag.Book2.Description</p>
    <p>@ViewBag.Address2.City</p>
    <p>@ViewBag.Address2.PhoneNumber</p>
</div>